* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-primary {
    background-color: #100227;
}

.header,
.footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
